.card {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__image {
  display: block;
  object-fit: cover;
  aspect-ratio: 1 /1;
  width: 100%;
  border-radius: 8px;
}
.card__textbox {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 0;
}
.card__text {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  max-width: 353px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.2;
  color: #212121;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute; /* Position the button absolutely */
  top: 8px; /* Adjust the distance from the top */
  right: 8px; /* Adjust the distance from the right */
  background-image: url("../images/trash.svg"); /* Use the SVG icon */
  background-repeat: no-repeat; /* Prevent repeating the icon */
  background-size: contain; /* Ensure the icon fits within the button */
  background-color: transparent; /* Remove any background color */
  border: none; /* Remove any border */
  cursor: pointer; /* Show a pointer cursor on hover */

  padding: 0; /* Remove any padding */
}

.card__delete-button:hover {
  background-image: url("../images/trash=hover.svg");
  opacity: 1;
}

.card__like-button {
  height: 20px;
  width: 23px;
  background-image: url("../images/likeicon2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  transition: opacity 0.25s ease-in-out;
  align-self: flex-end;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../images/Union.svg");
  opacity: 1;
}

.card__like-button_active:hover {
  background-image: url("../images/union=hover.svg");
  opacity: 0.4;
}

.card__like-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 460px) {
  .card__text {
    font-size: 16px;
  }
}
